@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Unbounded&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: cornsilk;
    font-family: IBM-Plex-Sans, sans-serif;
}

.quiz-outer{
    align-items: center;
    display: flex;
    overflow: hidden;
    margin: 0;
    height: 220px;
    justify-content: center;
}

.quiz-box{
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px 2px ;
    margin: 0 auto;
    overflow: hidden;
    background-color: slategray;
    border: 1px solid black;
}

#submit{
    width: 50%;
    background-color: aquamarine;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-family: inherit;
    text-transform: uppercase;
}

ul{
    list-style: upper-alpha;
}

ul li{
    cursor: pointer;
    padding: 5px;
}

